.contact {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 40rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  display: grid;
  grid-template-columns: 5rem auto;
  column-gap: 1rem;
}

input,
textarea {
  border: solid var(--page_border_thickness) var(--page_border_color);
  border-radius: 0.5rem;
}

label {
  text-align: right;
}

form .btn {
  grid-column: span 2;
  width: fit-content;
  margin-inline: auto;
}

form *::placeholder {
  padding-inline-start: 0.25rem;

  color: var(--page_color);
}

.form-error {
  grid-column: span 2;
  margin-block-start: 0.5rem;
  margin-inline-start: 3rem;
  color: var(--Error-Red, #f00);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  border: none !important;
  height: 20px;
}

.input101-container {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

@media (max-width: 450px) {
  .contact {
    padding-inline: 1rem;
  }
  .contact form {
    row-gap: 0.75rem;
  }
  .contact h2 {
    --decoration-width: 1rem;
    --decoration-spacing: 0.5rem;
    margin-block-end: 0rem;
    font-size: 1rem;
  }
  .form-group {
    grid-template-columns: 1fr;
  }
  .form-group label {
    text-align: start;
  }
}
